header{
  width: 100%;  //asi abarca el 100%

}

header nav {
  width: 100%;
  margin: 0px;
  background: rgba(33, 39, 78, 0.9);
  font-size: 18px;
  z-index: 10;
}

.centrarimg{
  align-items: center;
}

.menu_bar {
  display:none;

}

header nav ul{
  overflow: hidden;
  list-style: none;
}
header nav ul li {
  float: left;

}

header nav ul li a {
  color: #fff;
  padding: 20px;
  display: block;
  text-decoration: none;
}

header nav ul li span {
  margin-right: 10px;
}

header nav ul li a:hover {
  background: rgba(153, 228, 223, 0.9);
}

section {
  padding: 20px;
}

#image_slider {
/*
background-image : url("../img_r/banner.jpg");
background-repeat: no-repeat;
width: 90%;
height: 600px;
margin: 15px auto;
*/
width: 90%;
margin: 15px auto;
background-image : url("../img_r/banner.jpg");
height: 600px;
background-position : center center;
background-repeat : no-repeat;
background-size : 100% 100%;
padding : 40px 0;


}
.logo_aguas{
  display:block;
  margin:auto;
  width: 360px;
}

#protfolio_sec{
  background-color: white;
  padding-bottom: 200px;
}

.sngl_tstm{
  display: block;
  float: none;
}

.img_item{
 width: 100%;
 height: auto;
}


@media screen and (max-width: 700px) {
  header nav {
    width: 80%;
    height: 60%;
    left: -100%;
    margin: 0;
    position: fixed;
  }

  header nav ul li {
    display: block;
    float: none;
    border-bottom: 1px solid rgba(255,255,255, .3);
  }

  .menu_bar {
    display:block;
    width: 100%;
    background: #ccc;
  }

  .menu_bar .bt-menu {
    display: block;
    padding: 20px;
    background: #024959;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -box-sizing: border-box;
  }

  .menu_bar span {
    float: right;
    font-size: 40px;
  }
  #image_slider {
    width: 95%;
    margin: 10px auto;
    background-image : url("../img_r/back_res.png");
    height: 550px;
    margin-top: 40px;
    background-position : center center;
    background-repeat : no-repeat;
    background-size : 90% 100%;
    padding : 40px 0;
  }
  .img_item{
    width: 95%;
    margin: 10px auto;
    background-image : url("../img_r/back_res.png");
    height: 550px;
    margin-top: 40px;
    background-position : center center;
    background-repeat : no-repeat;
    background-size : 90% 100%;
    padding : 40px 0;


  }
}

.pequena{
  max-width: 10px;
}
